<script type="text/javascript" src="/webapp/script/view/class.js"></script>
<div id="class-view">
    <div class="path-view section_content_item left_content">
        <div>
            <div class="path-head-view">
                <span class="catalogue-title"></span>
                <a class="arrange-trigger icon">&#xf0ec;</a>
                <div class="edit-view hide"><a class="cancel-edit-btn icon">&#xf112;</a><a class="rename-btn">重命名</a><a class="create-doc-btn icon hide">&#xf0f6;</a><a class="delete-btn icon">&#xe83B;</a></div>
                <button class="cancel-arrange-btn hide"><i class="icon">&#xf112;</i><span>退出排序</span></button>
                <a class="add-trigger plus icon-btn"><span class="icon-plus-l"></span></a>
            </div>
            <div class="path-list-view"><ul class="folder"></ul></div>
        </div>
    </div>
    <div class="common-group-view section_content_tag right_content">
        <div>
            <div class="common-group-head">
                <span class="common-group-title">常用项</span>
                <a class="arrange-trigger icon">&#xf0ec;</a>
                <div class="edit-view hide"><a class="cancel-edit-btn icon">&#xf112;</a><a class="create-doc-btn icon hide">&#xf0f6;</a><a class="delete-btn icon">&#xe83B;</a></div>
                <div class="add-view hide"><a class="cancel-add-btn icon">&#xf112;</a><a class="add-btn icon" style="position:relative;right:2px">&#xe806;</a></div>
                <button class="cancel-arrange-btn hide"><i class="icon">&#xf112;</i><span>退出排序</span></button>
                <a class="add-trigger plus icon-btn"><span class="icon-plus-l"></span></a>
            </div>
            <div class="common-group-list"><ul></ul></div>
        </div>
    </div>
</div>