<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>问题详情页</title>
<script type="text/javascript" src="/webapp/script/view/collect.js"></script>
</head>
<body>
<div id="collect-view" class="section_content_box hide">
    <div id="collect-tab-view" class="section-content-tab"> 
        <div class="tab-back-view hide"><a class="tab-back-trigger icon-btn"><span class="icon-chevron-left-l"></span></a></div>
        <div class="tab-title-view center-text"><label class="tab-title-text"></label></div>
        <a class="tab-ok-trigger hide"><i class="icon">&#xe813;</i></a>
        <a class="tab-more-trigger k-line hide"><span class="line"></span><span class="line"></span><span class="line"></span></a>
        <div class="tab-more-btns hide"><div><a class="export-trigger"><i class="icon">&#xe830;</i><span>导出</span></a></div><div><a class="edit-trigger"><i class="icon">&#xe832;</i><span>编辑</span></a></div></div>
    </div>
    <div id="collect-content-view" class="section_content">
        <div>
            <div class="section_content_item left_content">
                <div class="doc-list-view hide"><div class="doc-display-emptyItem tip_item"><i class="icon">&#xf0f6;</i><h3>未发现文档</h3></div></div>
                <div class="paging hide">
                    <ul>
                        <li class="page-head-container page-turning-pre hide"><a class="page-head-trigger">首页</a><a class="page-pre-trigger">上页</a></li>
                        <li class="page-num-container page-num"></li>
                        <li class="page-tail-container page-turning-next hide"><a class="page-next-trigger">下页</a><a class="page-tail-trigger">尾页</a></li>
                        <li class="page-total-view">共<span class="page-totalItem-text">0</span>项&nbsp;&nbsp;共<span class="page-totalPage-text">0</span>页</li>
                        <li class="page-jump"><span>到<input class="page-jumpTo-inputNum"/>页</span></li>
                        <li><a class="page-jumpTo-submit">翻页</a></li>
                    </ul>					
                </div>
            </div>
            <div class="section_content_tag right_content">
                <div class="order-view">
                    <div><h4>精选主题</h4><a class="icon delete-trigger hide">&#xe83b;</a><a class="icon arrange-trigger hide">&#xf0ec;</a><span class="delete-btns-view hide"><a class="cancel-delete icon">&#xf112;</a><a class="delete">删除</a><input type="checkbox"></span><button class="cancel-arrange-btn hide"><i class="icon">&#xf112;</i><span>退出排序</span></button></div>
                    <div class="tag_content"><ul class="order-list"><li><div class="empty-order-tip"><i class="icon">&#xf097;</i><h3>未发现主题</h3></div></li></ul></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>