<html>
<head></head>
<body>
<div>
	<div class="user_content_item">
		<div>			
			<div><a></a></div>			
			<div>
				<div><i class="entry_icon">&#xe84B;</i><span></span></div>
				<div><i class="entry_icon">&#xe827;</i><a></a></div>				
			</div>
			<div class="entry_item_bar">
				<a><i class="entry_icon">&#xe835;</i><span></span></a>
				<a><i class="icon light_color">&#xf0ae;</i><span></span></a>		
				<a><i class="icon light_color">&#xe891;</i><span></span></a>
				<a><i class="icon light_color">&#xf14b;</i><span></span></a>
			</div>
			<div style="display:none;"></div>
		</div>
	</div>
	<div class="user_content_tag">
		<div>
			<div><i class="icon light_color">&#xf0ae;</i><span>新任务</span></div>
			<div><a></a></div>	
		</div>
		<div>
			<div><i class="icon light_color">&#xf29c;</i><span>新问题</span></div>
		</div>
		<div>
			<div><i class="icon light_color">&#xe891;</i><span>正在阅读</span></div>
		</div>
		<div>
			<div><i class="icon light_color">&#xf19d;</i><span>待测试</span></div>
		</div>
	</div>
</div>
</body>
</html>